:root {
    // base
    --font-family: 'Jost', sans-serif;
    --content-width: 1240px;
    --container-offset: 15px;
    --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  
    // colors
    --light-color: #ffffff;
    --bg-color: #EEEff1;
    --bg-accent-color: #f3f4f5;
    --text-color: #64646a;
    --dark-color: #1b1b1d;
    --accent-color: #83A84C;
}