.contact {
  padding-top: 210px;
  padding-bottom: 90px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__text {
    padding-top: 35px;
    font-size: 30px;
    line-height: 40px;
    color: var(--text-color);
    max-width: 558px;
  }
  &__item {
    margin-right: 93px;
  }
  &__title {
    padding-top: 20px;
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    color: var(--dark-color);
    padding-bottom: 37px;
  }
  &__mail,
  &__phone {
    position: relative;
    display: block;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    color: var(--text-color);
    padding-left: 84px;
    transition: all 0.4s;
    &:hover {
      color: var(--accent-color);
    }
  }
  &__mail {
    padding-bottom: 48px;
    &::before {
      position: absolute;
      content: '';
      display: block;
      background: url('../images/contacts/email.svg') center center/cover no-repeat;
      width: 28px;
      height: 28px;
      top: 9px;
      left: 16px;
    }
  }
  &__phone {
    padding-bottom: 37px;
    &::before {
      position: absolute;
      content: '';
      display: block;
      background: url('../images/contacts/phone.svg') center center/cover no-repeat;
      width: 28px;
      height: 28px;
      top: 7px;
      left: 16px;
    }
  }
  &__social {
    display: flex;
    gap: 24px;
    transition: all 0.4s;
  }
  &__social-item {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    box-shadow: 0px 12px 30px rgba(205, 209, 214, 0.28);
    transition: all 0.4s;
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.4s;
    }
    &:hover {
      svg {
        path {
          fill: var(--accent-color);
        }
      }
    }
  }
}