.footer {
  &__inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
  }
  &__title {
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    color: var(--dark-color);
    padding-bottom: 30px;
  }
  &__text {
    font-size: 30px;
    line-height: 40px;
    color: var(--text-color);
    max-width: 558px;
    padding-bottom: 30px;
  }
  &__link {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: var(--dark-color);
    text-transform: uppercase;
    transition: all 0.4s;
    &:hover {
      color: var(--accent-color);
    }
  }
  &__form-title {
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    color: var(--dark-color);
    padding-bottom: 30px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    margin-right: 44px;
  }
  &__form-input {
    padding: 20px 30px;
    border: none;
    box-shadow: 0px 12px 30px rgba(205, 209, 214, 0.28);
    border-radius: 65px;
    width: 413px;
    height: 70px;
    margin-bottom: 30px;
    &::placeholder {
      font-size: 22px;
      line-height: 30px;
      color: var(--text-color);
    }
  }
  &__form-btn {
    width: 173px;
    height: 70px;
    border-radius: 126px;
    background-color: var(--dark-color);
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--light-color);
    transition: all 0.4s;
    &:hover {
      background-color: var(--accent-color);
      color: var(--dark-color);
    }
  }
  &__wrapper {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--dark-color);
  }
  &__copyright {
    font-size: 22px;
    line-height: 30px;
    color: var(--text-color);
    &_dark {
      font-weight: 500;
      color: var(--dark-color);
    }
  }
  &__content {
    display: flex;
  }
  &__term {
    padding-right: 12px;
    border-right: 1px solid var(--text-color);
    font-size: 22px;
    line-height: 30px;
    color: var(--text-color);
  }
  &__privacy {
    padding-left: 12px;
    font-size: 22px;
    line-height: 30px;
    color: var(--text-color);
  }
}

@media (max-width: 1240px) {
  .footer__inner {
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
  }
  .footer__form {
    margin-right: 0;
  }
  .footer__address {
    text-align: center;
  }
  .footer__form {
    text-align: center;
  }
  .footer__form-btn {
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .footer__wrapper {
    padding: 20px 0;
  }
}

@media (max-width: 320px) {
  .footer__wrapper {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  .footer__copyright {
    text-align: center;
  }
  .footer__form-input {
    width: 280px;
    padding: 10px 20px;
  }
  .footer__form-title, .footer__title {
    font-size: 26px;
    line-height: 36px;
  }
  .footer__text {
    font-size: 16px;
    line-height: 24px;
  }
  .footer__form-btn {
    width: 150px;
    height: 50px;
  }
  
.footer__inner {
    padding-bottom: 40px;
  }
}