.header {
  background-color: var(--bg-color);
  padding-top: 24px;
  padding-bottom: 20px;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__buttons {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__cart-btn {
    position: relative;
    background-color: var(--light-color);
    width: 56px;
    height: 56px;
    border-radius: 100%;
    transition: all 0.4s;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: url('../images/basket.svg') center center/cover no-repeat;
      width: 24px;
      height: 24px;
    }
    &:hover {
      background-color: var(--accent-color);
    }
  }
  &__order-btn {
    width: 208px;
    height: 56px;
    background-color: var(--dark-color);
    border-radius: 63px;
    box-shadow: 0px 30px 60px rgba(163, 168, 179, 0.15);
    color: var(--light-color);
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    text-transform: uppercase;
    transition: all 0.4s;
    &:hover {
      background-color: var(--accent-color);
    }
  }
}

.nav {
  margin-left: 317px;
  transition: all 0.4s ease;
  &__list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  &__list-link {
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: var(--dark-color);
    transition: all 0.4s;
    &:hover {
      color: var(--accent-color);
    }
  }
}
.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  &__item {
    width: 30px;
    height: 2px;
    background-color: var(--dark-color);
  }
}

@media (max-width: 1240px) {
  .nav {
    margin-left: 0;
  }
}
@media (max-width: 992px) {
  .nav__list {
    gap: 20px;
  }
  .header {
    padding: 10px 0;
  }
  .nav {
    display: none;
  }
  .header__order-btn {
    display: none;
  }
  .burger {
    display: flex;
  }
  .header__cart-btn {
    width: 45px;
    height: 45px;
  }
  .header__logo {
    width: 136px;
    height: 50px;
  }
}
@media (max-width: 768px) {
  
}