.order {
  &__inner {
    padding-top: 190px;
    display: flex;
    justify-content: start;
    gap: 19px;
  }
  &__img {
    margin-left: -100px;
  }
  &__title {
    margin-top: 77px;
    font-weight: 800;
    font-size: 64px;
    line-height: 70px;
    color: var(--dark-color);
    text-transform: capitalize;
    padding-bottom: 30px;
  }
  &__text {
    font-size: 24px;
    line-height: 35px;
    color: var(--text-color);
    padding-bottom: 60px;
  }
  &__btn {
    width: 191px;
    height: 70px;
    border-radius: 126px;
    background-color: var(--dark-color);
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--light-color);
  }
}